appdirs
astroid
atomicwrites
attrs
backcall
beautifulsoup4
certifi
charset-normalizer
click
colorama
ConfigUpdater
coverage
decorator
distlib
filelock
flake8
Flask
idna
iniconfig
ipython
ipython-genutils
isort
itsdangerous
jedi
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mock
packaging
parso
patch
peewee
pickleshare
pluggy
prompt-toolkit
py
pycodestyle
pyflakes
Pygments
pylint
pymongo
pyparsing
PyScaffold
pytest
requests
setuptools-scm
six
soupsieve
toml
tomlkit
traitlets
urllib3
virtualenv
wcwidth
Werkzeug
wrapt
